body {
    margin: 0;
    padding: 0;
}

.fc-direction-ltr .fc-list-day-text, .fc-direction-rtl .fc-list-day-side-text {
    float: left;
    color: black !important;
    text-decoration: none;
    cursor: default;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    cursor: default;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color: black;
    text-decoration: none;
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fc .fc-daygrid-day-number:hover {
    text-decoration: underline;
}

.fc-daygrid-dot-event .fc-event-title {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 700;
    min-width: 0;
    overflow: hidden;
    color: black;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    color: black;
    margin-right: 3px;
}

.botaoAddEvento {
    color: black;
    transition: 0.2s;
}

.botaoAddEvento:hover {
    background-color: #1E2B37 !important;
    color: white !important;
}

.btnbonitoo{
    background-color: white !important;
color: black !important;
}


/*///////////////////////////////////////////////////////////////////*/
.verdeCoop{
    background: #048149;
    color: #ffffff;
}

.pointerCursor{
    cursor: pointer;
}

.tamanhoBarraLateral{
    min-height: 100vh;
    border-radius: 0px 0px 40px 0px;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(black, #048149);
    box-sizing: border-box;
    box-shadow: 0 20px 50px #048149;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color:#1D8D5B;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1D8D5B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #1D8D5B;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1D8D5B,
    0 0 25px #1D8D5B,
    0 0 50px #1D8D5B,
    0 0 100px #1D8D5B;
}

.login-box button span {
    position: absolute;
    display: block;

}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, black);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, black);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,black);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, black);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.fontee{
    font-family: "Arial", sans-serif !important;
}

.hoverrr:hover{
    background: #1D8D5B !important;
}

.sem_hover:hover{
    background: transparent !important;
    color: #fff !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0px transparent ,
    0 0 0px transparent,
    0 0 0px transparent,
    0 0 0px transparent !important;
}
.sem_hover{
    margin-top: 18px !important;
    padding-left: 0px !important;
}

.acertoBonito{
    color: #ffffff;
    background-color: rgba(27, 126, 0, 0.55);
    border: #259400 1px solid;
}

.erroBonito{
    color: #ffffff;
    background-color: rgba(126, 0, 0, 0.55);
    border: #940000 1px solid;
}
.value::selection{
    background: #048149 !important;
color:white;
}
.inputii {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    /*top: 0;*/
    transform: translateY(25%);
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
    background-color: #ffffff;
    color: black;
}

.value:focus,
.value:active {

    outline: none;
    background-color: #b4b4b4;
    color: black;
}

.value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 10%;
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.value svg {
    width: 15px
}

.inputii:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1px);
    transform: scale(0.95, 0.95);
}


.inputInvisivel{
    background: transparent !important;
    border: none !important;
    cursor:default !important;
}

.btnlindo {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnlindo::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, red 0%, darkred 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btnlindo:hover::before {
    width: 9em;
}
.btnlindo{
    background-color: darkred;
}

/*
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
}

.h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
}

.h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
}

.h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.containers th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #1D8D5B;
}

.containers td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.containers {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.containers td, .containers th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.containers tr:nth-child(odd) {
    background-color: #1D8D5B;
}

/* Background-color of the even rows */
.containers tr:nth-child(even) {
    background-color: #1A7E51;
}

.containers th {
    background-color: #4AA37B   ;
}

.containers td:first-child { color: #FB667A; }

.containers tr:hover {
    background-color: #80BEA2;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.containers td:hover {
    background-color: #A6D1BD;
    color: black;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .containers td:nth-child(4),
    .containers th:nth-child(4) { display: none; }
}

