body {
    margin: 0;
    padding: 0;
}

.fc-direction-ltr .fc-list-day-text, .fc-direction-rtl .fc-list-day-side-text {
    float: left;
    color: black !important;
    text-decoration: none;
    cursor: default;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    cursor: default;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color: black;
    text-decoration: none;
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fc .fc-daygrid-day-number:hover {
    text-decoration: underline;
}

.fc-daygrid-dot-event .fc-event-title {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 700;
    min-width: 0;
    overflow: hidden;
    color: black;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    color: black;
    margin-right: 3px;
}

.botaoAddEvento {
    background-color: transparent !important;
    border: #2c3e50 1px solid !important;
    color: black;
    transition: 0.2s;
}

.botaoAddEvento:hover {
    background-color: #1E2B37 !important;
    color: white !important;
}


/*///////////////////////////////////////////////////////////////////*/
.verdeCoop{
    background: #048149;
    color: #ffffff;
}

.pointerCursor{
    cursor: pointer;
}

.tamanhoBarraLateral{
    height: 850px;
    border-radius: 0px 0px 40px 0px;
}



.bodyLogin {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#187F00, #000000);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(black, #187F00);
    box-sizing: border-box;
    box-shadow: 0 15px 50px #187F00;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #1fd40c;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #19ff00;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #19ff00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03ff00,
    0 0 25px #19ff00,
    0 0 50px #19ff00,
    0 0 100px #19ff00;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #27cd14);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #27cd14);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#27cd14);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #19ff00);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.fontee{
    font-family: "Arial", sans-serif !important;
}

.hoverrr:hover{
    background: #19ff00 !important;
}

.sem_hover:hover{
    background: transparent !important;
    color: #fff !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0px transparent ,
    0 0 0px transparent,
    0 0 0px transparent,
    0 0 0px transparent !important;
}
.sem_hover{
    margin-top: 18px !important;
    padding-left: 0px !important;
}

.acertoBonito{
    color: #ffffff;
    background-color: rgba(27, 126, 0, 0.55);
    border: #259400 1px solid;
}

.erroBonito{
    color: #ffffff;
    background-color: rgba(126, 0, 0, 0.55);
    border: #940000 1px solid;
}
